USE [master]
GO
/****** Object:  Database [local_elections]    Script Date: 30.05.2019 12:10:58 ******/
CREATE DATABASE [local_elections]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'local_elections', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.CAGLAR\MSSQL\DATA\local_elections.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'local_elections_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.CAGLAR\MSSQL\DATA\local_elections_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [local_elections].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [local_elections]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 30.05.2019 12:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[ilce_no] [int] NOT NULL,
	[ilce_isim] [varchar](50) NULL,
	[il_no] [int] NOT NULL,
	[ilce_akp_oy] [int] NULL,
	[ilce_chp_oy] [int] NULL,
	[ilce_mhp_oy] [int] NULL,
	[ilce_iyi_oy] [int] NULL,
	[ilce_saadet_oy] [int] NULL,
	[ilce_other] [int] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ilce_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 30.05.2019 12:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[il_no] [int] NOT NULL,
	[il_isim] [varchar](50) NULL,
	[il_akp_oy] [int] NULL,
	[il_chp_oy] [int] NULL,
	[il_mhp_oy] [int] NULL,
	[il_ip_oy] [int] NULL,
	[il_saadet_oy] [int] NULL,
	[il_other] [int] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__iller__ACA8AD706D159DF0] PRIMARY KEY CLUSTERED 
(
	[il_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 30.05.2019 12:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[user_tc] [char](11) NULL,
	[user_fname] [nvarchar](50) NULL,
	[user_lname] [nvarchar](50) NULL,
	[user_gender] [nchar](10) NULL,
	[user_il] [int] NULL,
	[user_ilce] [int] NULL,
	[user_password] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
	[isUsed] [bit] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ilceler] ([ilce_no], [ilce_isim], [il_no], [ilce_akp_oy], [ilce_chp_oy], [ilce_mhp_oy], [ilce_iyi_oy], [ilce_saadet_oy], [ilce_other], [isActive]) VALUES (1, N'SEYHAN', 1, 0, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[ilceler] ([ilce_no], [ilce_isim], [il_no], [ilce_akp_oy], [ilce_chp_oy], [ilce_mhp_oy], [ilce_iyi_oy], [ilce_saadet_oy], [ilce_other], [isActive]) VALUES (2, N'CEYHAN', 1, 0, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[ilceler] ([ilce_no], [ilce_isim], [il_no], [ilce_akp_oy], [ilce_chp_oy], [ilce_mhp_oy], [ilce_iyi_oy], [ilce_saadet_oy], [ilce_other], [isActive]) VALUES (3, N'FEKE', 1, 0, 0, 0, 0, 0, 0, 1)
GO
INSERT [dbo].[iller] ([il_no], [il_isim], [il_akp_oy], [il_chp_oy], [il_mhp_oy], [il_ip_oy], [il_saadet_oy], [il_other], [isActive]) VALUES (1, N'ADANA', 0, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[iller] ([il_no], [il_isim], [il_akp_oy], [il_chp_oy], [il_mhp_oy], [il_ip_oy], [il_saadet_oy], [il_other], [isActive]) VALUES (2, N'ADIYAMA', 0, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[iller] ([il_no], [il_isim], [il_akp_oy], [il_chp_oy], [il_mhp_oy], [il_ip_oy], [il_saadet_oy], [il_other], [isActive]) VALUES (3, N'AFYO', 0, 0, 0, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([userID], [user_tc], [user_fname], [user_lname], [user_gender], [user_il], [user_ilce], [user_password], [isActive], [isUsed]) VALUES (1, N'9538198511 ', N'Delal', N'Abdullatif', N'male      ', 6, 77, N'YRV03DTI9ZW', 1, 0)
INSERT [dbo].[user] ([userID], [user_tc], [user_fname], [user_lname], [user_gender], [user_il], [user_ilce], [user_password], [isActive], [isUsed]) VALUES (2, N'4143187035 ', N'Fatma', N'Özlem', N'male      ', 6, 77, N'SNF31RMG9EI', 1, 1)
INSERT [dbo].[user] ([userID], [user_tc], [user_fname], [user_lname], [user_gender], [user_il], [user_ilce], [user_password], [isActive], [isUsed]) VALUES (3, N'2940741246 ', N'Özde', N'Atahan', N'male      ', 6, 77, N'KPK98OYU7ZD', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[user] OFF
ALTER TABLE [dbo].[ilceler]  WITH CHECK ADD  CONSTRAINT [fk_il_no] FOREIGN KEY([il_no])
REFERENCES [dbo].[iller] ([il_no])
GO
ALTER TABLE [dbo].[ilceler] CHECK CONSTRAINT [fk_il_no]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_ilceler] FOREIGN KEY([user_ilce])
REFERENCES [dbo].[ilceler] ([ilce_no])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_ilceler]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_iller] FOREIGN KEY([user_il])
REFERENCES [dbo].[iller] ([il_no])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_iller]
GO
USE [master]
GO
